@media (prefers-color-scheme: dark) {
  html {
    background-color: #121212;
    color: #f5f5f5;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    color: dark;
  }
}

:root {
  --bgSoft: #2d2b42;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
  --light: #ffffff;
  --dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-height: 100vh;
  margin: auto;
  padding: 0 70px 0 70px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px 0 30px;
  }
}
