.container{
    display: flex;
    gap: 10px;
    margin-bottom: 5%;
}

.textContainer{
    flex: 1;
    display:flex;
    flex-direction: column;
    gap: 50px;
}

.title{
    font-size: 50px;

}

.description{
    font-size: 20px;
}

.buttons{
    display:flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.button{
    padding: 10px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
} 

.button:first-child{
    background-color: var(--btn);
    color: var(--textSoft);
}

.imgContainer{
    position: relative;
    flex: 1;
    filter: brightness(80%) contrast(120%);

}

.brands{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(100%);
}