.container{
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
}

.navItems:hover{
    color: #494848;
    font-size: 20px;
}

.active{
    background-color:var(--light);
    color: var(--dark);
    font-weight: bold;
}